<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lh.oa.module.system.mapper.MeetRoomMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lh.oa.module.system.dal.dataobject.meetRoom.MeetRoom">
        <id column="id" property="id" />
        <result column="room_name" property="roomName" />
        <result column="contain" property="contain" />
        <result column="description" property="description" />
    </resultMap>

</mapper>
