<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lh.oa.module.system.mapper.SysAttendanceRuleHolidayMapper">

    <update id="deleteHoliday">
        UPDATE sys_attendance_rule_holiday SET deleted = 1 WHERE sys_attendance_rule_holiday_id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

</mapper>
